<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-[1000px] m-auto p-[50px]">
        <div class="">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit">Send</button><i class="text-[black] fa-solid fa-right-long"></i>
            </form>
        </div>

    </div>


    <a href="{% url 'xabarlar' %}">
        <div class="w-[180px] h-[50px] p-[10px] bg-[blue] rounded-[12px]">
        <h1 class="text-[white] font-[700]">Saqlangar habarlar</h1>
    </div>
    </a>
     
  
</body>

</html>